<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>EDDocument</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>EDDocument</key>
		<dict>
			<key>EDElement</key>
			<data>
			E2plIPec4SiW4WeOzeN2IHlJnCBafzC+DBR24Anm180=
			</data>
			<key>EDEquation</key>
			<data>
			qQWcDn04Aohso2F5NWb+E7zx7+8CG9KnvU/iDn8FCwM=
			</data>
			<key>EDGraph</key>
			<data>
			MNhCtWqW5ZjOfxlgxN1IAgjtZLgroyZ1ezGZBgmSW1Q=
			</data>
			<key>EDLine</key>
			<data>
			YbPnQMmuNXcmQ3jrfoI6kmwHyGvXy7NlgauQsE8Q0nk=
			</data>
			<key>EDPage</key>
			<data>
			4fXwa1xLJ28wufOSVcaEkYtQS9xNaWe5wXDVSuecjLk=
			</data>
			<key>EDPoint</key>
			<data>
			iln9xutaiHA2TvkgzEjWP6V8Wxg93ApKgXWQX1KgrgE=
			</data>
			<key>EDTextbox</key>
			<data>
			CcbfjxDvc8xleNrCtdG50pW5aXwfRBn0Ktzhc8c6CZ0=
			</data>
			<key>EDToken</key>
			<data>
			OObbbFnNn7q24QxnBKE6BqWlbWUubTgtbsEeG4sX+9o=
			</data>
		</dict>
	</dict>
</dict>
</plist>
